body {
		text-align: left;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: 1em;
		color: #666;
		background-color: #f8f8f8;
	}

	header{
		background-image: url("../img/header.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 150px;
	}

	h1 {
		font-family: 'Monalisa Serif', sans-serif;
		color: white;
		padding: 60px;
		margin-top: 0%;
		text-align: center;
		letter-spacing: 3px;
		opacity: .9;
	}

	.p1 {
		margin-left: 100px;
		line-height: 1.6em;
	}

	p{
		margin-left: 50px;
	}
	
	ul{
	}

	li {
		list-style-image: url("../img/icon-plus.png");
		line-height: 1.6em;
		margin-left: 100px;
	}

	table {
		border-spacing: 0px;
		float: left;
		margin: 50px 100px;
	}

	th, td {
		padding: 7px 30px 7px 10px;
		border-spacing: 0px;
		font-size: 90%;
		margin: 0px;
	}
			
	th, td {
		text-align: left;
		background-color: #e0e9f0;
		border-top: 1px solid #f1f8fe;
		border-bottom: 1px solid #cbd2d8;
		border-right: 1px solid #cbd2d8;
	}
	
	tr.head th {
		color: #fff;
		background-color: #43B045;
		border-bottom: 2px solid #007C00;
		border-right: 1px solid #007C00;
		border-top: 1px solid #007C00;
		text-align: center;
		text-shadow: -1px -1px 1px #007C00;
		letter-spacing: 0.15em;
	}
	
	td {
		text-shadow: 1px 1px 1px #ffffff;
	}

	tr.even td, tr.even th {
		background-color: #e8eff5;
	}

	tr.head th:first-child {
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
	}

	tr.head th:last-child {
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
	}


	fieldset {
		margin: 50px 100px;
		width: 350px;
		border: 1px solid #d6d6d6;
		background-color: #ffffff;
		line-height: 1.6em;
	}

	legend {
		font-style: italic;
		color: #666666;
	}

	input[type="text"] {
		width: 120px;
		border: 1px solid #d6d6d6;
		margin-left: 10px;
		outline: none;
	}

	input[type="text"]:focus,
	input[type="text"]:hover {
		background-color: #d0e2f0;
		border: 1px solid #999999;
	}

	input[type="submit"] {
		border: 1px solid #006633;
		background-color: #009966;
		color: #ffffff;
		border-radius: 5px;
		padding: 5px;
		margin-top: 10px;
	}

	input[type="submit"]:hover {
		border: 1px solid #006633;
		background-color: #00CC33;
		color: #ffffff;
		cursor: pointer;
	}

	.title {
		float: left;
		width: 150px;
		clear: left;
		padding-left: 50px;
	}
	fieldset .submit {
		width: 310px;
		text-align: right;
	}
